<section class="benefits-header">
  <div class="container">
    <div class="benefits-header-wrap">
      <p class="benefits-header-title">as seen in</p>
      <ul class="benefits-header-list">
        <li class="benefits-header-item">
          <img src="../img/benefits/artboard1.png" alt="1" />
        </li>
        <li class="benefits-header-item">
          <img src="../img/benefits/artboard2.png" alt="2" />
        </li>
        <li class="benefits-header-item">
          <img src="../img/benefits/artboard3.png" alt="3" />
        </li>
        <li class="benefits-header-item">
          <img src="../img/benefits/artboard4.png" alt="4" />
        </li>
        <li class="benefits-header-item">
          <img src="../img/benefits/artboard5.png" alt="5" />
        </li>
      </ul>
    </div>
    <div class="benefits-bottom">
      <h2 class="benefits-title">Loungewear you can be proud of.</h2>
      <ul class="benefits-bottom-list">
        <li class="benefits-bottom-item">
          <span class="benefits-bottom-circle">3</span>
          <h3 class="benefits-bottom-list_title">Ethically sourced.</h3>
          <p class="benefits-bottom-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et
            felis finibus consequat.
          </p>
        </li>
        <li class="benefits-bottom-item">
          <span class="benefits-bottom-circle">3</span>
          <h3 class="benefits-bottom-list_title">Responsibly made.</h3>
          <p class="benefits-bottom-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et
            felis finibus consequat.
          </p>
        </li>
        <li class="benefits-bottom-item">
          <span class="benefits-bottom-circle">3</span>
          <h3 class="benefits-bottom-list_title">Made for living in.</h3>
          <p class="benefits-bottom-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et
            felis finibus consequat.
          </p>
        </li>
        <li class="benefits-bottom-item">
          <span class="benefits-bottom-circle">3</span>
          <h3 class="benefits-bottom-list_title">Unimaginably comfortable.</h3>
          <p class="benefits-bottom-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et
            felis finibus consequat.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
