<section class="hero">
  <div class="container">
    <div class="logo">
      <img src="../img/LOGO.png" alt="logo" />
    </div>
    <h1 class="sr-only">Website for selling lingerie</h1>
    <h2 class="hero-title title">Don’t apologize for being comfortable.</h2>
    <ul class="hero_list">
      <li class="hero_list-item">
        <span class="hero_list-circle"></span>
        <p class="hero_list-text">
          Beautiful, comfortable loungewear for day or night.
        </p>
      </li>
      <li class="hero_list-item">
        <span class="hero_list-circle"></span>
        <p class="hero_list-text">
          No wasteful extras, like tags or plastic packaging.
        </p>
      </li>
      <li class="hero_list-item">
        <span class="hero_list-circle"></span>
        <p class="hero_list-text">
          Our signature fabric is incredibly comfortable — unlike anything
          you’ve ever felt.
        </p>
      </li>
    </ul>
    <load ="./customize-btn.html" />
    <div class="hero_review">
      <div class="hero_review-wrap">
        <img class="hero_review-img" src="../img/reviewer1.jpg" alt="Amy" />
        <span class="hero_review-name">Amy P.</span>
        <span class="hero_review-stars"></span>
        <span class="hero_review-header"
          >One of 500+ 5 Star Reviews Online</span
        >
      </div>
      <p class="hero_review-text">
        Overjoyed with my Loungewear set. I have the jogger and the sweatshirt.
        Quality product on every level. From the compostable packaging, to the
        supplied washing bag, even the garments smells like fresh herbs when I
        first held them.
      </p>
    </div>
  </div>
</section>
